## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Mar Del Plata,AR,61.88,light rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,2,Port Lincoln,AU,66.38,few clouds,-34.7333,135.8667,Port Lincoln Hotel
2,3,Klaksvik,FO,45.52,overcast clouds,62.2266,-6.5890,Airbnb rooms
3,4,Majalgaon,IN,83.98,few clouds,19.1500,76.2333,Yash Shri
4,5,Miri,MY,82.54,few clouds,4.4148,114.0089,"Mega Hotel, Miri"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Muros"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Muros"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Carballo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Villaviciosa"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Bereda"]

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
255,374,Muros,ES,51.84,clear sky,42.7762,-9.0603,Apartment Av. Castelao

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f"{start}, {stop1}, {stop2}, {stop3}, {end}")

(42.7762, -9.0603), (43.213, -8.691), (43.4813, -5.4357), (43.2686, -7.5406), (42.7762, -9.0603)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
stops =[vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end]
itinerary_df = pd.concat(stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,374,Muros,ES,51.84,clear sky,42.7762,-9.0603,Apartment Av. Castelao
1,84,Carballo,ES,51.22,clear sky,43.2130,-8.6910,Pazo do Souto
2,307,Villaviciosa,ES,53.22,broken clouds,43.4813,-5.4357,Hotel Carlos I
3,496,Bereda,ES,45.57,broken clouds,43.2686,-7.5406,Pazo de Verdes
4,374,Muros,ES,51.84,clear sky,42.7762,-9.0603,Apartment Av. Castelao

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig= gmaps.figure()
city_markers = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(vacation_itinerary)
fig.add_layer(city_markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))