## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Arraial Do Cabo,BR,87.76,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,1,Portland,US,48.42,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,4,Cape Town,ZA,67.12,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
3,5,Shadegan,IR,87.75,clear sky,30.6497,48.6647,مسافر خانه ابو ولید
4,7,Butaritari,KI,81.64,broken clouds,3.0707,172.7902,Isles Sunset Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Lasa"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Lasa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Salsomaggiore Terme"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Montepulciano"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Crotone"]

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
398,508,Lasa,IT,46.36,overcast clouds,46.6166,10.7002,Pension Feldgärtenhof

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f"{start}, {stop1}, {stop2}, {stop3}, {end}")

(46.6166, 10.7002), (44.8148, 9.9796), (43.1017, 11.7868), (39.0851, 17.1178), (46.6166, 10.7002)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
stops =[vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end]
itinerary_df = pd.concat(stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,508,Lasa,IT,46.36,overcast clouds,46.6166,10.7002,Pension Feldgärtenhof
1,573,Salsomaggiore Terme,IT,53.92,overcast clouds,44.8148,9.9796,Hotel Ferrari
2,609,Montepulciano,IT,49.59,overcast clouds,43.1017,11.7868,Hotel Panoramic Montepulciano
3,464,Crotone,IT,58.57,overcast clouds,39.0851,17.1178,Helios Hotel
4,508,Lasa,IT,46.36,overcast clouds,46.6166,10.7002,Pension Feldgärtenhof

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} with a high of {Max Temp} F </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig= gmaps.figure()
city_markers = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(city_markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))